* {
    margin: 0;
}

/*
outfit styling 

    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
*/
body {
    background-color: whitesmoke;
}

a {
    text-decoration: none;
}
/* classi per i testi */

.title1 {
    font-family: "Outfit", sans-serif;
    font-size: 2rem;
    font-weight: 300;
}
.customlink {
    text-decoration: none;
    color: #1c1c1c;
    cursor: pointer;
}
.text1 {
    font-family: "Outfit", sans-serif;
    font-size: 1.3rem;
    font-weight: 300;
}

.text2 {
    font-family: "Outfit", sans-serif;
    font-size: 3rem;
    font-weight: 500;
}

.text2samllgreen {
    font-family: "Outfit", sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    color: #2f6e5f;
}

.text3midgreen {
    font-family: "Outfit", sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
}
/* Headre started */

#topbarhead {
    background-color: black;
    display: block;
    text-align: start;
    padding-top: 20px;
}

header {
    padding: auto;
    position: sticky;
    top: 0px;
}
#logo {
    width: 120px;
    padding-left: 30px;
}

#topbar {
    text-align: center;
}

nav {
    display: block;
    background-color: #ff9902;
    padding: 15px 0px;
    text-align: center;
    margin: 0;

}

.nav {
    display: inline-block;
    cursor: pointer;
    margin-left: 20px;
    margin-right: 20px;
    font-family: "Outfit", sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    color: #1c1c1c;
    text-align: center;
}

#midnav {
    padding-left: 10%;
    padding-right: 10%;
}

/* Headre closed  */

/* Stated page content */
main {
    margin: 40px;
}

/* Stated section 1 two box to gift's */
#giftbar {
    background-color: rgb(214, 111, 15);
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 5px 20px rgb(214, 111, 15);
}


#giftbar p {
    color: antiquewhite;
    text-align: center;
}

#giftgudiebox {

    background-image: url(assets/bg-image.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    margin-top: 40px;
    box-shadow: 0px 5px 20px #2f6e5f;
    text-align: center;
    padding: 25px;

}

#giftgudiebox p {
    margin: 15px;
    color: rgb(255, 255, 255);
    font-weight: 400;
    text-align: center;
}
/* Closeed section 1 two box to gift's */

/* started section2 Find the perfect gift box */
#perfectgifbox {
    background-color: rgb(255, 255, 255);
    height: 540px;
    margin-top: 40px;
    border-radius: 20px;
    box-shadow: 0px 5px 40px #1c1c1c38;
    padding: 25px;
}

#textperfectgifbox {
    display: inline;
    
}

#textperfectgifbox span.text1 {
    margin-right: 40px;
}
#textperfectgifbox a {
    cursor: pointer;
}
.imgbox {
    height: 470px;
    width: 350px;
    background-color: #ff9902;
    border-radius: 20px;
    margin: 30px 15px;
    display: inline-block;
    box-shadow: 0px 3px 30px #1c1c1c4b;
}

#perfectgifbox div {
    text-align: center;
}

.imgbox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
}

/* closed section2 Find the perfect gift box */

/* started box find the perfect gift */

#palygame {
    background-image: url(assets/img_9.png);
    background-size: cover;
    background-position: center;
    height: 360px;
    margin-top: 40px;
    border-radius: 20px;
    box-shadow: 0px 5px 40px #1c1c1c38;
    

}

#overlay1 {
    background-color: #00000080;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    
}

#overlay1 div {
    padding-top: 150px;
    color: antiquewhite;
    text-align: center;
}

#overlay1 a {
    cursor: pointer;
    color: #ff9902;
}

#overlay1 p {
    text-align: center;
}
/* closed box find the perfect gift */

/* started box find the audio e acessories */

#theaudio {
    background-image: url(assets/img_10.png);
    background-size: cover;
    background-position: center;
    height: 400px;
    margin-top: 40px;
    border-radius: 20px;
    box-shadow: 0px 5px 40px #1c1c1c38;
}

/* closed box find the audio e acessories */

/* starting extra box by 4 product in one */



.game {
    background-color: #1c1c1c;
    width: 500px;
    height: 550px;
    margin-top: 40px;
    border-radius: 20px;
    padding: 20px;
}

.box1 {
    background-color: wheat;
    width: 200px;
    height: 200px;
    margin: 20px;
}

.row1 {
    display: inline-block;
}

#innertbox {
    width: 160px;
    height: 160px;
    background: black;
    display: inline-block;
    margin: 12px;
}


#mainbox {
    background-color: #ff9902;
    height: 390px;
    width: 390px;
    display: block;
    padding: 20px;
    text-align: center;
}

p:first-child {
    text-align: start;
}

#cazzo2 {
    width: 300px;
    height: 300px;
    background: black;
    display: inline-block;
}